---
layout: simple-info.njk
title: "Feedback | District Institute of Education and Training, Chennai | DIET Chennai"
description: "The feedback to this website of DIET Chennai can be given here"
last_updated: "18-APR-2025"
intro:
  en: ""
  ta: ""
sections: []
---
