---
layout: rti-diet-rules.njk
title: "DIET rules | District Institute of Education and Training, Chennai | DIET Chennai"
description: "The Government Orders related to DIET Chennai are available here."
last_updated: "18-APR-2025"
table_heading: "DIET Chennai – Government Orders & Directives"
orders:
  - date: "December 30, 1989"
    title: "Upgradation and Establishment of DIET Chennai"
    description:
      en: "District Institute of Education and Training, Madras district is established and upgraded from the Lady Willingdon Government Teacher Training Institute, Triplicane."
      ta: ""
    source_url: "/assets/files/Establishment_GO_DIET_Chennai.pdf"
    source_label: "GO Ms No.1828 Education (U1) Department, Government of Tamil Nadu"
  - date: "May 09, 2018"
    title: "Restructuring of DIET Chennai"
    description:
      en: "District Institute of Education and Training, Chennai district is restructured as a Model-1 DIET with Pre-service and and In-service teacher training in Chennai district by the department of school education, Government of Tamil Ndu."
      ta: ""
    source_url: "https://cms.tn.gov.in/cms_migrated/document/GO/schedu_e_92_2018.pdf"
    source_label: "GO Ms No.92 School Education (ERT) Department, Government of Tamil Nadu"
  - date: "October 09, 2023"
    title: "Restructuring of DIET Chennai (addendum)"
    description:
      en: "District Institute of Education and Training, Chennai district is restructured to include various departments such as Pre-service Teacher Education, Teacher Professional Development, Education Technology & Material Development, Assessment & Evaluation, and Field Interaction & Action Research."
      ta: ""
    source_url: "/assets/files/DIET_restructuring_GO_175.pdf"
    source_label: "GO Ms No.175 School Education (ERT) Department, Government of Tamil Nadu"
---
