    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no" />

    <!-- Website Title -->
    <title>{{ title }}</title>

    <meta name="description"
        content="{{ description }}" />
    <!-- Keywords for Search Engines -->
    <meta name="keywords"
        content="diet Chennai, dietChennai, diet Chennai Tamil Nadu, deitChennai Tamil Nadu, diet Chennai, dietChennai, diet Chennai Tamil Nadu, deitChennaiTamil Nadu, diet Chennai" />

    <meta name="author" content="DIET Chennai">

    <link rel="apple-touch-icon" href="/images/favicon/dietLogoCleaned.png" data-cms-href="favicon_image" data-cms-source="site-settings">
    <link rel="icon" href="/images/favicon/dietLogoCleaned.png" type="image/png" data-cms-href="favicon_image" data-cms-source="site-settings">
    <link rel="shortcut icon" href="/images/favicon/dietLogoCleaned.png" type="image/png" data-cms-href="favicon_image" data-cms-source="site-settings">

    <!-- Load Tamil font CSS first -->
    <link rel="stylesheet" href="/css/early-font.min.css">
   <link rel="canonical" href="https://dietchennai.org{{ page.url }}">
   <link href="/css/page-loader.min.css" rel="stylesheet" media="all">

    <link href="/css/base.min.css" rel="stylesheet" media="all">
    <link href="/css/base-responsive.min.css" rel="stylesheet" media="all">
    <link href="/css/grid.min.css" rel="stylesheet" media="all">
    <link href="/css/font.min.css" rel="stylesheet" media="all">
    <link href="/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/css/flexslider.min.css" rel="stylesheet" media="all">
    <link href="/css/megamenu.min.css" rel="stylesheet" media="all" />
    <link href="/css/print.min.css" rel="stylesheet" media="print" />
    <link href="/css/site.min.css" rel="stylesheet" media="all">
    <link href="/css/site-responsive.min.css" rel="stylesheet" media="all">
    <link href="/css/ma5gallery.min.css" rel="stylesheet" type="text/css">
    <link href="/css/print.min.css" rel="stylesheet" type="text/css" media="print">
    <!-- logo-img css -->
    <link href="/css/logo.min.css" rel="stylesheet" media="all">
    <!-- logo-img css -->
    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js" defer></script>
      <script src="/js/respond.min.js" defer></script>
      <![endif]-->
    <noscript>
        <link href="/css/no-js.min.css" type="text/css" rel="stylesheet">
    </noscript>
