    <!-- <script src="/js/jquery-2.1.1.min.js" defer></script> -->
    <script src="/js/jquery-3.7.1.min.js" defer></script>
    <script src="/js/jquery-migrate-1.4.1.min.js" defer></script>
    <script src="/js/jquery-accessibleMegaMenu.min.js" defer></script>
    <script src="/js/swithcer.min.js" defer></script>
    <script src="/js/framework.min.js" defer></script>
    <script src="/js/jquery.flexslider.min.js" defer></script>
    <script src="/js/font-size.min.js" defer></script>
     <script src="/js/ma5gallery.min.js" defer></script>
    <script src="/js/megamenu.min.js" defer></script>
    <script src="/js/easyResponsiveTabs.min.js" defer></script>
    <script src="/js/language.min.js" defer></script>
    <script src="/js/custom.min.js" defer></script>
   <script src="/js/cms-content.min.js" defer></script>
