---
layout: simple-info.njk
title: Disclaimer | District Institute of Education and Training, Chennai | DIET Chennai
description: Disclaimer to DIET Chennai website is available here
last_updated: 18-APR-2025
intro:
  en: 'The information on this website is provided by the District Institute of Education and Training
    (DIET), Chennai, in good faith and for general informational purposes only. While the Institute makes
    every effort to keep the information accurate, complete and up to date, it makes no representation
    or warranty of any kind, express or implied, about the completeness, accuracy, reliability, suitability
    or availability of the website or the information, products, services, or related graphics contained
    on the website for any purpose.


    Any reliance placed on such information is therefore strictly at the visitor''s own risk. In no event
    will DIET Chennai be liable for any loss or damage, including without limitation, indirect or consequential
    loss or damage, arising from loss of data or profits arising out of, or in connection with, the use
    of this website.


    Every effort is made to keep the website up and running smoothly. However, DIET Chennai takes no responsibility
    for, and will not be liable for, the website being temporarily unavailable due to technical issues
    beyond its control.


    This website may contain links to external, third-party websites. These links are provided for convenience
    and reference only. DIET Chennai does not control these sites and is not responsible for the content,
    privacy practices, or accuracy of information on any linked external website.'
  ta: 'இணையதளத்தில் உள்ள தகவல்கள் மாவட்டக் கல்வி பயிற்சி நிறுவனம் (DIET), சென்னை, நல்லெண்ணத்துடன் பொது
    தகவல் நோக்கங்களுக்காக மட்டுமே வழங்குகிறது. இத்தகவல்களை துல்லியமாகவும், முழுமையாகவும், புதுப்பித்த
    நிலையிலும் வைத்திருக்க நிறுவனம் தன்னால் இயன்ற முயற்சிகளை மேற்கொண்டாலும், இணையதளத்தின் முழுமை, துல்லியம்,
    நம்பகத்தன்மை, பொருத்தம் அல்லது கிடைக்கும் தன்மை குறித்து எந்தவொரு உத்தரவாதத்தையும் வெளிப்படையாகவோ
    மறைமுகமாகவோ அளிக்கவில்லை.


    இத்தகவல்களை நம்பி மேற்கொள்ளப்படும் எந்தவொரு செயலும் பார்வையாளரின் சொந்தப் பொறுப்பில் மட்டுமே அமையும்.
    இவ்வலைத்தளத்தைப் பயன்படுத்துவதால் ஏற்படும் தரவு இழப்பு அல்லது இலாப இழப்பு உள்ளிட்ட எந்தவொரு நேரடி
    அல்லது மறைமுக இழப்பு / சேதத்திற்கும் DIET சென்னை பொறுப்பேற்காது.


    இணையதளத்தை சீராக இயங்கச் செய்ய அனைத்து முயற்சிகளும் மேற்கொள்ளப்படுகின்றன. எனினும், நிறுவனத்தின் கட்டுப்பாட்டிற்கு
    அப்பாற்பட்ட தொழில்நுட்பக் காரணங்களால் இணையதளம் தற்காலிகமாகக் கிடைக்காமல் போகும் நிலைக்கு DIET சென்னை
    பொறுப்பாகாது.


    இவ்வலைத்தளத்தில் மூன்றாம் தரப்பு வெளி இணையதளங்களுக்கான இணைப்புகள் இடம்பெறலாம். இவை வசதிக்காகவும் குறிப்புக்காகவும்
    மட்டுமே வழங்கப்படுகின்றன. அத்தகைய இணைக்கப்பட்ட வெளி இணையதளங்களின் உள்ளடக்கம், தனியுரிமைக் கொள்கைகள்
    அல்லது தகவல் துல்லியம் குறித்து DIET சென்னை பொறுப்பாகாது.'
sections: []
---
