---
layout: simple-info.njk
title: "Terms and Conditions | District Institute of Education and Training, Chennai | DIET Chennai"
description: "The terms and conditions of DIET Chennai website is available here"
last_updated: "18-APR-2025"
intro:
  en: ""
  ta: ""
sections: []
---
