---
layout: org-structure.njk
title: "Organization Structure | District Institute of Education and Training, Chennai | DIET Chennai"
description: "Organization structure of DIET Chennai is designed to provide a clear overview of the hierarchy and roles within the institution. It outlines the various departments, their functions, and the key personnel involved in the administration and management of DIET Chennai."
last_updated: "18-APR-2025"
org_chart:
  en: /images/org-chart-english.png
  en_alt: "Organization Chart"
  ta: /images/org-chart-tamil.png
  ta_alt: "Organization Chart"
---
