---
layout: simple-info.njk
title: Modules | District Institute of Education and Training, Chennai | DIET Chennai
description: The modules for the courses conducted by DIET Chennai is available here.
last_updated: 18-APR-2025
intro:
  en: Training modules developed and used by DIET Chennai to support the professional development of pre-service
    and in-service teachers form part of this section. These modules are prepared by the Institute's academic
    departments to align with State and NCTE curricular frameworks.
  ta: பணிமுன் மற்றும் பணியிலுள்ள ஆசிரியர்களின் தொழில்முறை மேம்பாட்டிற்கு DIET சென்னை வடிவமைத்துப் பயன்படுத்தும்
    பயிற்சிக் கட்டகங்கள் இப்பிரிவில் அடங்கும். இக்கட்டகங்கள் மாநில மற்றும் NCTE பாடத்திட்ட கட்டமைப்புகளுக்கு
    ஏற்ப நிறுவனத்தின் கல்விப் பிரிவுகளால் தயாரிக்கப்படுகின்றன.
sections: []
---
