---
layout: simple-info.njk
title: "Modules | District Institute of Education and Training, Chennai | DIET Chennai"
description: "The modules for the courses conducted by DIET Chennai is available here."
last_updated: "18-APR-2025"
intro:
  en: ""
  ta: ""
sections: []
---
