---
layout: base.njk
title: "Administrative Staff | District Institute of Education and Training, Chennai | DIET Chennai"
description: "The details of administrative staff working in the DIET is attached here."
last_updated: "18-APR-2025"
extraHead: |
  <link href="/css/grid2.css" rel="stylesheet" media="all">
---

    <!--/.nav-wrapper-->
    <!-- Main and modifiable content starts here -->
    <!-- section divider -->
    <div class="main_content">

        <!-- <div class="wrapper banner-wrapper">
            <div id="flexSlider" class="flexslider">
                <div class="inner-banner"><img width="1800" height="288" src="/images/diet_chennai_banner.png" alt="DIET Chennai Banner"></div>
            </div>
        </div> -->
        <div class="wrapper" id="skipCont"></div>
        <!--/#skipCont-->
        <div id="fontSize" class="wrapper body-wrapper ">
            <div class="bg-wrapper inner-wrapper">
                <div class="breadcam-bg breadcam">
                    <div class="container common-container four_content">
                        <ul>
                            <li><a href="/" data-i18n="home">Home </a></li>
                            <li><a href="#" data-i18n="staff">Faculty and Staff</a></li>
                            <li><a href="/admin-staff/" data-i18n="adminstaff">Administrative Staff</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <section id="page-head" class="wrapper headings-wrapper">
                <div class="container common-container four_content">
                    <h1><i class="fa fa-info-circle" aria-hidden="true">&nbsp;</i><samp
                            data-i18n="adminstaff">Administrative Staff</samp>
                    </h1>
                    <hr />
                </div>
            </section>
            <!--/#page-head-->
            <!-- <div class="main_content"> -->
            <!-- TODO: Add Administrative staff -->
            <div class="grid-container" data-cms-grid="admin-staff" data-cms-exp-label="Experience"></div>
        </div>
    </div>
    <!-- Main and modifiable content ends here -->
    <!-- section divider -->
    <!--/.body-wrapper-->
    <div class="wrapper carousel-wrapper">
        <div class="container common-container four_content carousel-container">
            <div id="flexCarousel" class="flexslider carousel">
                <ul class="slides">
                    <li><a target="_blank" href="https://tn.gov.in"
                            title="Government of Tamil Nadu, External Link that opens in a new window">
                            <img width="300" height="330" loading="lazy" src="/images/logos/TamilNadu_Logo.png" alt="Government of Tamil Nadu"
                                style="margin: auto; padding-top: 10%; width: 50%; justify-content: center; align-items: center;"></a>
                    </li>
                    <li><a target="_blank" href="https://tnschools.gov.in/scert"
                            title="SCERT Tamil Nadu, External Link that opens in a new window">
                            <img width="300" height="295" loading="lazy" src="/images/logos/scert.png" alt="SCERT Tamil Nadu"
                                style="margin: auto; padding-top: 10%; width: 60%; justify-content: center; align-items: center;"></a>
                    </li>
                    <li><a target="_blank" href="https://www.education.gov.in/"
                            title="Ministry of Education, External Link that opens in a new window">
                            <img width="200" height="150" loading="lazy" src="/images/logos/moe.png" alt="Ministry of Education"></a>
                    </li>
                    <li><a target="_blank" href="https://ncert.nic.in/"
                            title="NCERT India, External Link that opens in a new window">
                            <img width="206" height="300" loading="lazy" src="/images/logos/NCERT.svg" alt="NCERT India"
                                style="margin: auto; padding-top: 10%; width: 40%; justify-content: center; align-items: center;"></a>
                    </li>
                    <li><a target="_blank" href="https://ncte.gov.in/website/index.aspx"
                            title="National Council for Teacher Education, External Link that opens in a new window">
                            <img width="200" height="150" loading="lazy" src="/images/logos/ncte.png" alt="National Council for Teacher Education"></a>
                    </li>

                    <li><a target="_blank" href="https://www.niepa.ac.in/"
                            title="NIEPA, External Link that opens in a new window">
                            <img width="300" height="271" loading="lazy" src="/images/logos/niepa_logo.png" alt="NIEPA"
                                style="margin: auto; padding-top: 10%; width: 60%; justify-content: center; align-items: center;"></a>
                    </li>
                    <li><a target="_blank" href="https://www.cbse.gov.in/"
                            title="CBSE, External Link that opens in a new window">
                            <img width="251" height="297" loading="lazy" src="/images/logos/CBSE_logo.svg" alt="CBSE"
                                style="margin: auto; padding-top: 10%; width: 50%; justify-content: center; align-items: center;"></a>
                    </li>

                    <li><a target="_blank" href="https://www.g20.in/"
                            title="G20, External Link that opens in a new window">
                            <img width="200" height="150" loading="lazy" src="/images/logos/g20.png" alt="G20 Portal"></a>
                    </li>
                    <li><a target="_blank" href="https://digitalindia.gov.in/"
                            title="Digital India, External Link that opens in a new window"><img width="200" height="150" loading="lazy"
                                src="/images/logos/digital-india.png" alt="Digital India"></a></li>
                    <li><a target="_blank" href="https://www.makeinindia.com/"
                            title="Make In India, External Link that opens in a new window"> <img width="200" height="150" loading="lazy"
                                src="/images/logos/makeinindia.png" alt="Make In India"></a></li>
                    <li><a target="_blank" href="https://india.gov.in/"
                            title="National Portal of India, External Link that opens in a new window"><img width="200" height="150" loading="lazy"
                                src="/images/logos/india-gov.png" alt="National Portal of India"></a></li>
                    <li><a target="_blank" href="https://goidirectory.nic.in/"
                            title="GOI Web Directory, External Link that opens in a new window"><img width="200" height="150" loading="lazy"
                                src="/images/logos/goidirectory.png" alt="GOI Web Directory"></a></li>
                    <li><a target="_blank" href="https://data.gov.in/"
                            title="Data portal, External Link that opens in a new window"><img width="200" height="150" loading="lazy"
                                src="/images/logos/data-gov.png" alt="Data portal"></a></li>
                    <li><a target="_blank" href="https://mygov.in/"
                            title="MyGov, External Link that opens in a new window"><img width="200" height="150" loading="lazy" src="/images/logos/mygov.png"
                                alt="MyGov Portal"></a></li>
                </ul>
            </div>
        </div>
    </div>
    