---
layout: simple-info.njk
title: "RTI Act | District Institute of Education and Training, Chennai | DIET Chennai"
description: "The essential information as per Right to Information Act is about DIET Chennai is availble here."
last_updated: "18-APR-2025"
intro:
  en: ""
  ta: ""
sections: []
---
