---
layout: course.njk
title: "D.El.Ed., | District Institute of Education and Training, Chennai | DIET Chennai"
description: "The details of Diploma in Elementary Education (D.El.Ed.,) course offered by DIET Chennai is available here."
last_updated: "18-APR-2025"
banner_image: /images/banner/deled_banner.png
banner_image_alt: "Diploma banner"
closed_notice:
  en: "Online admission window is closed. Please visit our DIET directly for spot admission."
  ta: ""
official_link:
  text_en: "For more info, please visit the"
  text_ta: ""
  link_label_en: "Official SCERT Tamil Nadu website"
  link_label_ta: ""
  url: "https://scert.tnschools.gov.in"
apply_links:
  instructions_button_label:
    en: "View Instructions"
    ta: ""
  apply_button_label:
    en: "Apply Now"
    ta: ""
  apply_url: "https://scert.tnschools.gov.in/admission/instructions"
  instructions_url: "https://d1wpyxz35bzzz4.cloudfront.net/2025_2026_D.El.Ed_Admission_Guidelines_for_Government_Institutions.pdf"
---
