---
layout: simple-info.njk
title: Web Information Manager | District Institute of Education and Training, Chennai | DIET Chennai
description: Web Information Manager to DIET Chennai website is available here
last_updated: 18-APR-2025
intro:
  en: 'As per the Guidelines for Indian Government Websites (GIGW), every government website is required
    to designate a Web Information Manager who is responsible for the content and updation of the website.


    For DIET Chennai, queries relating to website content, errors, or updates may be addressed to the
    Principal, DIET Chennai, at dietchn@nic.in. Please mention "Web Information Manager" in the subject
    line of your e-mail so that it can be routed appropriately.'
  ta: 'இந்திய அரசு இணையதளங்களுக்கான வழிகாட்டுதல்களின் (GIGW) படி, ஒவ்வொரு அரசு இணையதளமும் இணையதளத்தின்
    உள்ளடக்கம் மற்றும் புதுப்பித்தலுக்குப் பொறுப்பான ஒரு தகவல் மேலாண்மை அதிகாரியை நியமிக்க வேண்டும்.


    DIET சென்னைக்கு, இணையதள உள்ளடக்கம், பிழைகள் அல்லது புதுப்பிப்புகள் தொடர்பான வினவல்களை DIET சென்னை
    முதல்வர் அவர்களுக்கு dietchn@nic.in என்ற முகவரியில் அனுப்பலாம். சரியாக வழிநடத்தப்படும் வகையில், உங்கள்
    மின்னஞ்சலின் பொருள் வரியில் "Web Information Manager" எனக் குறிப்பிடவும்.'
sections: []
---
