---
layout: simple-info.njk
title: "Web Information Manager | District Institute of Education and Training, Chennai | DIET Chennai"
description: "Web Information Manager to DIET Chennai website is available here"
last_updated: "18-APR-2025"
intro:
  en: ""
  ta: ""
sections: []
---
