---
layout: simple-info.njk
title: "Important links | District Institute of Education and Training, Chennai | DIET Chennai"
description: "Important links of DIET Chennai is available here"
last_updated: "18-APR-2025"
intro:
  en: ""
  ta: ""
sections: []
---
