---
layout: contact-us.njk
title: "Contact us | District Institute of Education and Training, Chennai | DIET Chennai"
description: "Contact details of DIET Chennai is available here"
last_updated: "18-APR-2025"
---
