---
layout: simple-info.njk
title: "Website Policies | District Institute of Education and Training, Chennai | DIET Chennai"
description: "The website policies of DIET Chennai is available here"
last_updated: "18-APR-2025"
intro:
  en: ""
  ta: ""
sections: []
---
